*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f6f9;
    color: #333;
    line-height: 1.6;
}
header{
    background-color: #0b4da2;
    color: white;
    text-align: center;
    padding: 40px 20px;
}
header h1{
    font-size: 36px;
    margin-bottom: 10px;
}
header h2{
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 15px;
}
header p{
    max-width: 700px;
    margin: 40px;
    font-size: 16px;
    text-align: center;
}
main{
    max-width: 1000px;
    margin: 40px auto;
    padding: 0 20px;
}
section{
    background-color: white;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgb(0, 0, 0, 0.8);
}
section h2{
    color: #04da20;
    margin-bottom: 15px;
    border-left: 10px;
}
section p{
    margin-bottom: 10px;
    text-align: justify;
}
ul{
    padding-left: 20px;

}
ul li{
    margin-bottom: 8px;
}
section img{
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 20px;
    margin: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}
section:last-of-type img{
    display: inline-block;
}
table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
th{
    background-color: #0b4da2;
    color: white;
    padding: 10px;
    font-size: 14px;
}
td{
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}
footer{
    background-color: #0b4da2;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}